



@* =================================================================== *@
<div class="list-group" id="Movies">
    <div class="row sectionName">
        <i class="fa-solid fa-list"></i>
        <h5>Movie body Types</h5>
    </div>
    <div class="row">
        <div class="col-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row">
                <a class="btn btn-sm" asp-action="MoviePopular">Popular Movies</a>
            </div>
            <div class="row">
                <a class="btn btn-sm" asp-action="MovieTopRated">Top Movies</a>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <a class="btn btn-sm" asp-action="MovieUpComing">The Future Movies</a>
            </div>
            <div class="row">
                <a class="btn btn-sm" asp-action="MovieNowPlaying">Topic Movies</a>
            </div>
        </div>
    </div>
</div>
@* =================================================================== *@
<div class="list-group" id="Series">
    <div class="row sectionName">
        <i class="fa-solid fa-list"></i>
        <h5>Series body Types</h5>
    </div>
    <div class="row">
        <div class="col-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row">
                <a class="btn btn-sm" asp-action="SeriesPopular">Popular Series</a>
            </div>
            <div class="row">
                <a class="btn btn-sm" asp-action="SeriesTopRated">Top Series</a>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <a class="btn btn-sm" asp-action="TvUpComing">The Future Series</a>
            </div>
            <div class="row">
                <a class="btn btn-sm" asp-action="TvNowPlaying">Topic Series</a>
            </div>
        </div>
    </div>
</div>
@* =================================================================== *@
<div class="list-group" id="MovieTrends">
    <div class="row sectionName">
        <i class="fa-solid fa-list"></i>
        <h5>Movie Trends</h5>
    </div>
    <div class="row">
        <div class="col-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row">
                <a class="btn btn-sm" asp-action="MovieDayTrend">Daily Trends Movies</a>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <a class="btn btn-sm" asp-action="MovieWeekTrend">Weekly Trends Movies</a>
            </div>
        </div>
    </div>
</div>
@* =================================================================== *@
<div class="list-group" id="MovieTrends">
    <div class="row sectionName">
        <i class="fa-solid fa-list"></i>
        <h5>Series Trends</h5>
    </div>
    <div class="row">
        <div class="col-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row">
                <a class="btn btn-sm" asp-action="TvDayTrend">Daily Trends Series</a>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <a class="btn btn-sm" asp-action="TvWeekTrend">Weekly Trends Series</a>
            </div>
        </div>
    </div>
</div>
@* =================================================================== *@