

.row{
    align-items: center;
    justify-content: center;
}

.col{
    display: flex;
    width: auto;
    height:350px;
}

#carouselFilmSlider{
    background-color:grey;
    position: relative; /* Carousel'in ana kapsayıcısına ekleyin */
}

